@import "tailwindcss";

@font-face {
  font-family: "Aeonik";
  src: url("/assets/fonts/aeonik-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Migra";
  src: url("/assets/fonts/migraItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Grifinito";
  src: url("/assets/fonts/grifinitoL.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canopee";
  src: url("/assets/fonts/canopee.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Necosmic";
  src: url("/assets/fonts/necosmic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: "0.4s color background stroke";
}

:root {
  --background: #fff;
  --foreground: #333;
  --menu-primary-color: #d3ff41;
  --menu-no-active: #e1e1e1;
  --primary-color: #6441ff;
  --primary-grid-color: #dadada;
  --second-grid-color: #d7d7d7;
  --font-aeonik: "Aeonik", sans-serif;
  --font-necosmic: "Necosmic", serif;
  --font-migra: "Migra", serif;
  --font-grifinito: "Grifinito", sans-serif;
  --font-canopee: "Canopee", serif;
  --small-size: 0.875rem;
  --normal-size: 1rem;
  --mid-size: 1.875rem;
  --large-size: 2.5rem;
  --extra-large-size: 3.75rem;
  --hero-size: 6.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-aeonik: "Aeonik", sans-serif;
  --font-necosmic: "Necosmic", serif;
  --font-migra: "Migra", serif;
  --font-grifinito: "Grifinito", sans-serif;
  --font-canopee: "Canopee", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #ffffff;
    --primary-color: #d3ff41;
    --menu-primary-color: #6441ff;
    --primary-grid-color: #3c3c3c;
    --second-grid-color: #3b3b3b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
